// big number
.big-number-container {
  display: inline-block;
  vertical-align: top;
  width: 12rem;
  margin: 1.5rem 1rem 1rem 1rem;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.big-number-main {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: $border-width solid $brand-color;
}

.big-number-heading {
  line-height: 11rem;
  font-size: $alpha;
}
