////////////////////////////////
// pop in
////////////////////////////////

.a-pop-in {
  opacity: 0;
  animation: pop-in $timing-long forwards;

  // stagger adjacent items
  &:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.75s;
  }

}

@keyframes pop-in {
  from {
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


// thanks, https://css-tricks.com/svg-line-animation-works/
@supports (stroke-dasharray: 1000) and (stroke-dashoffset: 1000) {
  .header-graphic-svg {

    polyline, path, polygon {
      stroke-dasharray: 1250;
      stroke-dashoffset: 0;
      animation: dash 7s forwards;
    }
    #dots {
      animation: fade-in 3s forwards;
    }
  }
}


@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
