////////////////////////////////
// long tail graph
////////////////////////////////

// container
.longtail-container {
  background: $light-white;
}

// title
.longtail-title {
  @include absolute-center;
  position: absolute;
  max-width: 8em;
  margin-top: -8%;
  z-index: 1;

  @media (min-width: $xl) {
    margin-top: -2em;
  }
}

// svg graphic
.longtail-img {
  padding: $gutter;
  height: auto;
  top: 2rem;

  // position at different screen sizes (quite fudged)
  @media (min-width: $xs) {
    top: 0;
    margin-top: -5rem;
  }
  @media (min-width: $m) {
    margin-top: -8rem;
  }
  @media (min-width: $xxxl) {
    margin-top: -3rem;
  }
}

// text
.longtail-img tspan {
  @include body-font;
  text-transform: uppercase;

  &::selection {
    background: rgba($light-1, 0.5);
  }
}

// hover effects
.longtail-group:hover {
  opacity: 0.9;
}
